@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

/* post item min-width 700px */
@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

/* post Item min-width 900px */
@media screen and (min-width: 950px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  
}

/* jumbotron >= 1200px */
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }
}
